@model string;

@{
    ViewData["Title"] = "Cannot Register";
}

<div style="margin-top:20px; margin-bottom:200px">
    <h3 class="text-center text-danger">@Model</h3>
</div>

<script src="~/js/jquery.min.js"></script>
<script>
    $(document).ready(() => {
        alert("the Registration For This inputed Local Governments is Closed")
    })
</script>