

/* .News-img {
    width:500px;
    height:400px;
}
.news-evfont {
    font-size: 13px;
}

.news-evfont1 {
    font-size: 17px;
}

.news-evfont2 {
    font-size: 13px;
    color: #e69256;
}
@media(max-width:992px){
    .News-img {
        width: 100px;
        height: 200px;
    }
}
@media (max-width:600px){
    .News-img {
        width: 250px;
        height: 200px;
    }
    .news-block{
        margin-bottom:30px;
    }
    .event-head{
        font-size:20px;
    }
}
@media(max-width:1200px){
    .News-img {
        width: 350px;
        height: 200px;
    } 
}*/
a  span{
    margin-left: 10px;
}
.current-menu-item {
    border-top: 3px solid #ff6a00;
}
.help-icon{
    margin-left: 10px;
}


.tw-i {
    width: 25px;
    height: 25px;
    padding-top: 10px;
    color: #ff6a00;
}

.sub-menu-1 {
    display: none;
    margin-top: 2px;
}
.divs:hover .sub-menu-1 {
    display: block;         
    margin-bottom: 0;
    margin-left: -15px;
}


.sub-nav{
    visibility:hidden;
    opacity:0;

}
.sub-nav1:hover .sub-nav {
    visibility:visible;
    opacity:3;
}

/*ff4800*/
#top-head{
    text-align: center;
}
