@model CreateRoleViewModel;
@{ 
    ViewData["Title"] = "CreateRole";
}


<div class="container registerdiv" style="margin-bottom:70px;">
    <h6 class="register-form-header">Create new Role</h6>

    <div class="mt-3">
        <form asp-action="CreateRole" asp-controller="Administrator" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 row">
                <div class="col-sm-3">
                    <label class="form-label" asp-for="@Model.RoleName"></label>
                </div>
                <div class="col-sm-7">
                    <input class="form-control" id="firstName" asp-for="@Model.RoleName">
                    <span asp-validation-for="RoleName" class="text-danger"></span>
                </div>
            </div>

            <div class="text-center">
                <button type="submit" id="submitBtn" class="registerbtn mb-4 btn-sm">Create Role</button>
            </div>
        </form>
    </div>
</div>
